* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 120px 170px;
    font-family: 'League Spartan', sans-serif;
}

#section-1 {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    margin-bottom: 75px;
}

#description {
    width: 550px;
    /* background-color: red; */
}

h1 {
    font-weight: 700;
    font-size: 4.1rem;
    margin-bottom: 30px;
    width: 80%;
    color: hsl(300, 43%, 22%);
    /* background-color: orange; */
}

#description p {
    font-size: 1.4rem;
    font-weight: 500;
}

#reviews {
    /* background-color: green; */
}

.review {
    background-color: hsl(300, 24%, 96%);
    padding: 20px 30px;
    margin: 15px 0;
    border-radius: 10px;
    width: 430px;
}

.fa-star {
    color: rgb(238, 152, 76);
    margin-right: 5px;
}

.review span {
    margin-left: 20px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.guru {
    margin-left: 50px;    
}

.besttech {
    margin-left: 100px;
}

#section-2 {
    display: flex;
    justify-content: space-between;
    background-color: blue;
}

.reviewer {
    background-color: hsl(300, 43%, 22%);
    margin: 0 15px;
}